/* -------------------------- Font Imports -------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/* -------------------------- Global CSS -------------------------- */

:root {
    /* ___ Variables ___ */
    --nav-height: 10vh;
    --containerPadding: 4rem 4rem;

    /* ___ Colors ___ */
    --mainGreen: #5fbd68;
    --grayText: #181818;
    --grayBG: #181818;
    --opaqueGrayBG: #181818cb;
    --lightGray: #d7d7d7;
    --opaqueLightGray: #eeeeeede;
    --whitetext: white;
}

* {
    box-sizing: border-box;
}

html {
scroll-behavior: smooth;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    font-size: 16px;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--grayBG);
    transition: all 500ms ease-out;
}

main {
    width: 100vw;
    height: 100vh;
}

.light-mode {
    background-color: white;
    --whitetext: var(--grayText);
    --grayBG: var(--lightGray);
    --opaqueGrayBG: var(--opaqueLightGray);
  }


/* -------------------------- Text CSS -------------------------- */

h1, 
h2, 
h3, 
h4 {
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: var(--whitetext);
}

h5,
h6 {
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: var(--whitetext);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-family: Lora, Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: var(--whitetext);
}

a {
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-weight: 500;
}