/* #region _________ Font Imports */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* #endregion */


/*#region __________ Global CSS & Variables */

:root {
    
    /* ___ Variables ___ */
    --nav-height: 10vh;
    --containerPadding: 3.5rem;
    --innerPadding: 3.5rem 0;

    /* ___ Colors ___ */
    --mainGreen: #5fbd68;
    --opaqueMainGreen: #5fbd68d0;
    --grayText: #181818;
    --grayBG: #1e1e1e;
    --darkShadowBG: #11111134;
    --lightShadowBG: #4444440e;
    --opaqueGrayBG: #181818cb;
    --lightGray: #aeaeae;
    --opaqueLightGray: #eeeeeede;
    --cardBorder: #8e8e8e22;
    --whitetext: white;
}

* {
    box-sizing: border-box;
}

html {
scroll-behavior: smooth;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    font-size: 16px;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--grayBG);
}

main {
    width: 100vw;
}

.light-mode {
    background-color: white;
    --whitetext: var(--grayText);
    --grayBG: var(--lightGray);
    --opaqueGrayBG: var(--opaqueLightGray);
    --darkShadowBG: #9e9e9e0d;
    --lightShadowBG: #e9e9e956;
    --cardBorder: #f3f3f3;
  }

/*#endregion*/


/*#region __________ Text CSS */

h1, h2, h3, h4 {
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: var(--whitetext);
}

h5, h6 {
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--whitetext);
}

h1 {
    font-size: 5.5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3rem;

}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.3rem;
    color: var(--lightGray);
}

p {
    /* font-family: Lora, Georgia, 'Times New Roman', Times, serif; */
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;

    line-height: 1.4rem;
    color: var(--whitetext);
}

ul {
    color: var(--whitetext);
}

li {
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .01rem;
}

a {
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/*#endregion*/


/* #region _________ Resused Classes */

.arrow {
    border: solid var(--lightGray);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.card-wrap-outer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    padding: var(--innerPadding);
}

.card-wrap-inner {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 30%;
    padding: 4rem 3rem;
    border: 2px solid var(--cardBorder);
    border-radius: 20px;
    box-shadow: 4px 8px 4px var(--darkShadowBG), -6px -2px 8px var(--lightShadowBG);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 2rem;
}

.flex-item {
    padding-bottom: .8rem;
}

.card-header {
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    text-decoration: none;
    position: relative;
    color: var(--whitetext);
    transition: all 200ms ease-out;
}

/* #endregion */


/*#region __________ Header Section */

@keyframes lowerIn {
    from {
        margin-top: -10.5vh;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

header {
    width: 100vw;
    height: var(--nav-height);
    min-height: 5rem;
    margin-top: -10.5vh;
    animation: 2s ease-out 3s 1 forwards lowerIn;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
    min-height: 5rem;
    padding: 6rem 4rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    width: auto;
    height: 100%;
    max-height: 100px;
    min-height: 70px;
    /* margin-right: 4rem; */
    opacity: 0;
    animation: 1s ease-in-out 3s 1 forwards lowerIn;
}


#logo img {
    color: var(--whitetext);
    height: 100%;
    width: 100%;
}


#navigation {
    display: flex;
    align-self: center;
    column-gap: 30px;
    opacity: 0;
    animation: 1s ease-out 3.5s 1 forwards lowerIn;
}

#navigation a {
    color: var(--whitetext);
}
#navigation a:hover {
    color: var(--mainGreen);
}

.switch {
    position: relative;
    display: inline-block;
    justify-self: right;
    width: 60px;
    height: 34px;
    opacity: 0;
    animation: 1s ease-out 4s 1 forwards lowerIn;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--mainGreen);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--mainGreen);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {

    border-radius: 50%;
  }

  /*#endregion*/


/*#region __________ Hero Section */

@keyframes titleFade {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;

    }
    
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    /* padding: 4rem 4rem; */
    padding: var(--containerPadding);
}


#hero-image {
    background-image: url("../images/green-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 4rem;
}

#hero-image h1 {
    font-size: 6rem;
    color: white;
    opacity: 0;
    animation: 2s ease-out 1s 1 forwards titleFade;
}




#together {
    font-family: 'DM Serif Display', serif;
    color: var(--mainGreen);
    font-weight: 500;
    transform: translateY(-5px);
    opacity: 0;
    animation: 2s ease-out 2s 1 forwards titleFade;
}


/*#endregion*/


/*#region __________ Introduction Section */

#intro {
    padding: var(--containerPadding);
    width: 100vw;
}

#intro-header {
    display: flex;
    justify-content: center;
    padding: var(--innerPadding);
}

#intro-header-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 60%;
}

#intro-header-info p {
    padding-top: 1.5rem;
    text-align: center;
}

#intro-header-info span {
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
    font-style: italic;
    color: var(--mainGreen);
}

.tools-list {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}


.tools-list > li {
    background-color: var(--mainGreen);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}


/*#endregion*/


/*#region __________ Featured Work Section */

#fWork1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding: 3.5rem 0;
    gap: 2rem;
}

.content-row {
    display: flex;
    gap: 2rem;
    height: 100%;
    width: 100%;
    max-width: 1800px;
}


.content-container {
    background-color: var(--grayBG);
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
}

#content1 {
    background-image: url("../images/projects/new.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--opaqueGrayBG);
    flex: 1;
}

#content2 {
    background-image: url("../images/green-header.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--opaqueGrayBG);
    flex: 1;
}

#content3 {
    background-image: url("../images/green-header.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--opaqueGrayBG);
    flex: 1;
}

#content4 {
    background-image: url("../images/green-header.jpg");
    background-size: cover;
    flex: 1;
}

#content1:hover,
#content2:hover,
#content3:hover,
#content4:hover {
    cursor: pointer;
    transform: scale(1, 1.05);
    flex: 3;
    box-shadow: inset 0 0 0 2000px var(--opaqueMainGreen);
}

.rounded-container-left {
    border-radius: 0 20px 20px 0px;
}

.rounded-container-right {
    border-radius: 20px 0 0 20px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 90%;
    padding: 2rem;
    row-gap: 1rem;
    opacity: 0;
    transition: opacity 500ms ease-out;
}

.project-info p {
    width: 90%;
    flex: 0;
    color: var(--grayText);
}

.project-info:hover {
    opacity: 1;
}

.project-header {
    color: var(--grayText);
}

/*#endregion*/