
/* -------------------------- Import CSS Sheets -------------------------- */
@import "globals.css";


/* -------------------------- Header Section -------------------------- */

header {
    width: 100vw;
    height: var(--nav-height);
    min-height: 5rem;
    transition: all 100ms ease-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
    min-height: 5rem;
    padding: 6rem 4rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    width: auto;
    height: 100%;
    max-height: 100px;
    min-height: 70px;
    /* margin-right: 4rem; */
}

#logo img {
    color: var(--whitetext);
    height: 100%;
    width: 100%;
}


#navigation {
    display: flex;
    align-self: center;
    column-gap: 30px;
}

#navigation a {
    color: var(--whitetext);
}
#navigation a:hover {
    color: var(--mainGreen);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    justify-self: right;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--mainGreen);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--mainGreen);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    background-color: var(--grayBG);
    border-radius: 50%;
  }


/* -------------------------- Hero Section -------------------------- */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    /* padding: 4rem 4rem; */
    padding: var(--containerPadding);
}


#hero-image {
    background-image: url("../images/green-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 4rem;
}

#hero-image h1 {
    font-size: 6rem;
    color: white;
}



/* -------------------------- Introduction Section -------------------------- */

#intro {
    padding: var(--containerPadding);
    height: fit-content;
    width: 100vw;
}

#intro-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}


#intro-flex h2 {
    white-space: nowrap;
    font-size: 1.8rem;
    color: var(--lightGray);
}

#intro-p {
    width: 70%;
}


/* -------------------------- Featured Work Section -------------------------- */

#fWork1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding: var(--containerPadding);
    gap: 2rem;
}

.content-row {
    display: flex;
    gap: 2rem;
    height: 100%;
    width: 100%;
    max-width: 1800px;
}


.content-container {
    background-color: var(--grayBG);
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
}

#content1 {
    background-image: url("../images/projects/new.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--opaqueGrayBG);
    flex: 1;
}

#content2 {
    background-image: url("../images/green-header.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--opaqueGrayBG);
    flex: 1;
}

#content3 {
    background-image: url("../images/green-header.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--opaqueGrayBG);
    flex: 1;
}

#content4 {
    background-image: url("../images/green-header.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--opaqueGrayBG);
    flex: 1;
}

#content1:hover,
#content2:hover,
#content3:hover,
#content4:hover {
    cursor: pointer;
    transform: scale(1, 1.05);
    flex: 3;

}

.rounded-container {
    border-radius: 20px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 90%;
    padding: 2rem;
    row-gap: 1rem;
}

.project-info p {
    width: 90%;
    flex: 0;
    color: var(--whitetext);
}

.project-header {
    color: var(--whitetext);
}